:root{
    --text-color: rgba(255, 255, 255, 0.915);
    --sx-color-primary: #0B6BCB !important;
    --joy-palette-neutral-plainActiveBg: var(--joy-palette-neutral-200, #D1EBFC !important);
    --joy-palette-neutral-200: #D1EBFC !important;
}
